
<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  {% block head %}
  {% endblock %}
  <link href="/css/style.css" rel="stylesheet">
  <link href="/favicon.ico" rel="icon" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="container main content col-md-12 col-lg-10">
        {% block content %}
        {% endblock %}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  <script src="/lib/lib.js"></script>
  <script src="/lib/app.js"></script>
</body>
</html>
